$content-width: 1200px;
$navbar-background: #262626;

.header {
    background-color: $navbar-background;

    &__content{
        max-width: $content-width;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        position: sticky;
        margin: 0 auto;

        &__title{
            margin: 10px;
        }
    
        &__right-column{
            display: flex;
            flex-direction: row;
        }
    }
}