$content-width: 1200px;

.task-manager {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  &__body{

    height: 90vh;
    width: 100vw;
    max-width: $content-width;
    margin: 10% auto;

    &__left-column{
      flex-grow: 1;
      height: 50%;
    }

    &__right-column{
      justify-content: center;
      display: flex;
      flex-grow: 4;
      flex-direction: column;
      align-items: center;
    }
  }
}

body {
  margin: 0;
}
