$content-width: 1200px;

.task-manager {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  &__body{
    margin: 0% auto;
    padding-top: 10%;
    height: 90vw;

    &__left-column{
      flex-grow: 1;
      height: 50%;
    }

    &__right-column{
      justify-content: center;
      display: flex;
      flex-grow: 4;
      flex-direction: column;
      align-items: center;
    }
  }
}

.dark{
  background-color: hsl(0,0%,10%);
  color: hsl(0,0%,90%);
}

.light{
  background-color: hsl(0,0%,90%);
  color: hsl(0,0%,10%);;
}

